@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: sans-serif;

}


.scrollbar::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

