@tailwind base;
@tailwind components;
@tailwind utilities;

.sideBar li:hover{
    background-color: rgb(190, 179, 179);
    width: 11rem;
    padding: 0 5px;
    border-radius: 10px;
    height: 3rem;
}

.scrollbar::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

